* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  /* .bgimg-1 {
    background-image: url("../images/background-black-blank-733857.jpg");
    min-height: 100%;
  } */
  
  .aboutHeadshot {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
  }

  .imgDiv {
    width: 100%;
    margin: 0 auto;
  }

  .bgimg-1 {
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      url("../images/background-black-blank-733857.jpg");
      min-height: 100%;
  }

  .bgimg-2 {
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      url("../images/beautiful-blue-sky-bright-663337.jpg");
      min-height: 400px;
  }

  .bgimg-3 {
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      /* url("../images/island-landscape-mountains-65322.jpg"); */
      url("../images/IMG_1684.jpg");
      min-height: 500px;
  }

  .bgimg-4 {
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.35)
      ),
      /* url("../images/australia-beach-cereal-1089168.jpg"); */
      url("../images/IMG_2249.jpg");
      min-height: 600px;
  }

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


  .caption {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 12px;
    /* font-size: 25px; */
    letter-spacing: 6px;
  }
  
  #landingName {
    background-color: transparent;
    color: #66763a;
    font-size: 120px;
    text-shadow: 3px 3px 3px white;
  }


  #landingTag {
    background-color: #66763a;
    /* background-color: transparent; */
    /* color: #66763a; */
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 4px;
  }

.groupStyle {
  color:#777;
  background-color:white;
  /* text-align:center; */
  padding: 50px 80px;
  text-align: justify;
}

#about p {
  font-size: 16px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 40px "Lato", sans-serif;
    color: #66763a;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .headerDef {
    text-align: center;
    font-size: 18px;
  }

.landingSocial,
.socialDiv {
  text-align: center;
}

.socialDiv p {
  margin-left: 33.333333333333333333%;
  width: 33.333333333333333333%;
  text-align: left;
}

.socialDiv {
 margin: 0 auto;
}

.landingSocial {
  margin-top: 20px;
}

.landingIcons {
  margin: 10px;
}

.landingIcons:hover {
  opacity: 0.8;
}

.socialText {
  font-size: 24px;
  margin-left: 20px;
  color: #777;
}

.fas,
.fab {
  color: #66763a
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: black;
}

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }
  







  
  .container {
    max-width: 1125px;
    /* max-width: 100%; */
    margin: 0 auto;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .gallery-item {
    width: 330px;
    height: 265px;
    text-decoration: none;
  }
  
  .gallery-item img {
    position: absolute;
    height: 260px;
    width: 330px;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: contain;

  }
  
  .text-wrapper {
    position: relative;
    width: 330px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 0;
  }
  
  .text-wrapper:hover {
    transition: all 0.8s ease;
    background: rgba(0, 0, 0, 0.6);
    /* background: rgba(102,118,58, 0.6); */
    opacity: 1;
  }
  
  .name {
    font-size: 1.5em;
  }
  
  
  /* Because there is no hover on a touch devide, we need to move the text to the bottom of the image and display it by default */
  
  @media only screen and (max-width: 1024px) {
    .text-wrapper {
      opacity: 1;
      justify-content: flex-end;
      text-shadow: 1px 1px 1px #000;
    }
    .text-wrapper span {
      /* background: rgba(0, 0, 0, 0.6); */
      background-color: #66763a;
      background-color: #777;
    }
    .title {
      margin-bottom: 1em;
    }
    #landingName {
      font-size: 88px;
    }
    #landingTag {
      font-size: 20px;
    }
  }
  








/* div.gallery img {
    width: 100%;
    height: auto;
} */


.responsive {
    padding: 0 6px;
    float: left;
    /* width: 24.99999%; */
    width: 33.33333333333;
    margin: 10px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        width: 100%;
        margin: 6px 0;
    }
    .text-wrapper {
      opacity: 1;
      justify-content: flex-end;
      text-shadow: 1px 1px 1px #000;
    }
    .title {
      margin-bottom: 1em;
    }
    #landingName {
      font-size: 60px;
    }
    #landingTag {
      font-size: 15px;
    }
    .landingIcons {
      font-size: 12px;
    }
    .caption {
      top: 33%;
    }
    .socialText {
      font-size: 16px;
    }
    .groupStyle {
      padding: 20px 30px;
    }
    #about p {
      font-size: 14px;
    }
    .socialDiv p {
      margin-left: 40px;
      width: 100%;
      text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    #landingName {
      font-size: 42px;
    }
    #landingTag {
      font-size: 12px;
    }
    .landingIcons {
      font-size: 10px;
    }
    .caption {
      top: 35%;
    }
    .socialText {
      font-size: 14px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}